# Exercise_4.4_Data_Wrangling_Subsetting

## 1. Setup & Imports

## 2. Import Data (orders.csv, products.csv)

## Exercise 4.4 – Wrangling procedures (from lesson walkthrough)

## 3. Initial Data Exploration & Context

## 4. Data Wrangling Procedures
# Convert identifier variables to appropriate data types and improve column naming clarity

- Dropping columns
- Renaming columns
- Changing data types

## 5. Data Dictionary (departments.csv)

## 6. Subsetting Data
# Create targeted product subsets to support breakfast and dinner-related analysis

## 7. Exports (Prepared Data)

## 8. Notes for Final Report
- Population Flow
- Wrangling Steps
- Consistency Checks

In [3]:
import pandas as pd
import numpy as np
import os

In [8]:
path = r'../02 Data/Original Data'

In [9]:
df_ords = pd.read_csv(os.path.join(path, 'orders.csv'))

In [10]:
df_prods = pd.read_csv(os.path.join(path, 'products.csv'))

In [11]:
df_ords.shape, df_prods.shape

((3421083, 7), (49693, 5))

In [12]:
df_ords.head()

,order_id,user_id,eval_set,order_number,order_dow,order_hour_of_day,days_since_prior_order
0,2539329,1,prior,1,2,8,NaN
1,2398795,1,prior,2,3,7,15.0
2,473747,1,prior,3,3,12,21.0
3,2254736,1,prior,4,4,7,29.0
4,431534,1,prior,5,4,15,28.0

In [13]:
df_ords.drop(columns=['eval_set'])

,order_id,user_id,order_number,order_dow,order_hour_of_day,days_since_prior_order
0,2539329,1,1,2,8,NaN
1,2398795,1,2,3,7,15.0
2,473747,1,3,3,12,21.0
3,2254736,1,4,4,7,29.0
4,431534,1,5,4,15,28.0
...,...,...,...,...,...,...
3421078,2266710,206209,10,5,18,29.0
3421079,1854736,206209,11,4,10,30.0
3421080,626363,206209,12,1,12,18.0
3421081,2977660,206209,13,1,12,7.0
3421082,272231,206209,14,6,14,30.0

In [14]:
df_ords.columns

Index(['order_id', 'user_id', 'eval_set', 'order_number', 'order_dow',
       'order_hour_of_day', 'days_since_prior_order'],
      dtype='object')

In [15]:
df_ords = df_ords.drop(columns=['eval_set'])

In [16]:
df_ords.columns

Index(['order_id', 'user_id', 'order_number', 'order_dow', 'order_hour_of_day',
       'days_since_prior_order'],
      dtype='object')

In [17]:
df_ords['days_since_prior_order'].value_counts(dropna=False)

days_since_prior_order
30.0    369323
7.0     320608
6.0     240013
4.0     221696
3.0     217005
5.0     214503
NaN     206209
2.0     193206
8.0     181717
1.0     145247
9.0     118188
14.0    100230
10.0     95186
13.0     83214
11.0     80970
12.0     76146
0.0      67755
15.0     66579
16.0     46941
21.0     45470
17.0     39245
20.0     38527
18.0     35881
19.0     34384
22.0     32012
28.0     26777
23.0     23885
27.0     22013
24.0     20712
25.0     19234
29.0     19191
26.0     19016
Name: count, dtype: int64

In [18]:
df_ords.rename(
    columns={'order_dow': 'orders_day_of_week'},
    inplace=True
)

In [19]:
df_ords.columns

Index(['order_id', 'user_id', 'order_number', 'orders_day_of_week',
       'order_hour_of_day', 'days_since_prior_order'],
      dtype='object')

In [20]:
df_ords.dtypes

order_id                    int64
user_id                     int64
order_number                int64
orders_day_of_week          int64
order_hour_of_day           int64
days_since_prior_order    float64
dtype: object

In [21]:
df_ords['order_id'] = df_ords['order_id'].astype('str')
df_ords['user_id'] = df_ords['user_id'].astype('str')

In [22]:
df_ords.dtypes

order_id                   object
user_id                    object
order_number                int64
orders_day_of_week          int64
order_hour_of_day           int64
days_since_prior_order    float64
dtype: object

In [23]:
df_depts = pd.read_csv(os.path.join(path, 'departments.csv'))

In [24]:
df_depts.head()

,department_id,1,2,3,4,5,6,7,8,9,...,12,13,14,15,16,17,18,19,20,21
0,department,frozen,other,bakery,produce,alcohol,international,beverages,pets,dry goods pasta,...,meat seafood,pantry,breakfast,canned goods,dairy eggs,household,babies,snacks,deli,missing

In [25]:
df_depts.shape
df_depts.dtypes

department_id    object
1                object
2                object
3                object
4                object
5                object
6                object
7                object
8                object
9                object
10               object
11               object
12               object
13               object
14               object
15               object
16               object
17               object
18               object
19               object
20               object
21               object
dtype: object

In [26]:
df_depts.T

                             0
department_id       department
1                       frozen
2                        other
3                       bakery
4                      produce
5                      alcohol
6                international
7                    beverages
8                         pets
9              dry goods pasta
10                        bulk
11               personal care
12                meat seafood
13                      pantry
14                   breakfast
15                canned goods
16                  dairy eggs
17                   household
18                      babies
19                      snacks
20                        deli
21                     missing

In [27]:
df_depts_transposed = df_depts.T
df_depts_transposed

                             0
department_id       department
1                       frozen
2                        other
3                       bakery
4                      produce
5                      alcohol
6                international
7                    beverages
8                         pets
9              dry goods pasta
10                        bulk
11               personal care
12                meat seafood
13                      pantry
14                   breakfast
15                canned goods
16                  dairy eggs
17                   household
18                      babies
19                      snacks
20                        deli
21                     missing

In [28]:
df_depts_transposed = df_depts_transposed.reset_index()
df_depts_transposed.head()

           index           0
0  department_id  department
1              1      frozen
2              2       other
3              3      bakery
4              4     produce

In [31]:
df_depts_transposed.shape

(22, 2)

In [32]:
new_header = df_depts_transposed.iloc[0]

In [33]:
new_header

index    department_id
0           department
Name: 0, dtype: object

In [34]:
df_depts_transposed_new = df_depts_transposed[1:]

In [35]:
df_depts_transposed_new.head()

  index        0
1     1   frozen
2     2    other
3     3   bakery
4     4  produce
5     5  alcohol

In [36]:
df_depts_transposed_new.columns = new_header

In [37]:
df_depts_transposed_new.head()

0 department_id department
1             1     frozen
2             2      other
3             3     bakery
4             4    produce
5             5    alcohol

In [38]:
df_depts_transposed_new.shape

(21, 2)

In [39]:
df_depts_transposed_new.tail()

0  department_id department
17            17  household
18            18     babies
19            19     snacks
20            20       deli
21            21    missing

In [40]:
df_depts_transposed_new.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21 entries, 1 to 21
Data columns (total 2 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   department_id  21 non-null     object
 1   department     21 non-null     object
dtypes: object(2)
memory usage: 468.0+ bytes

In [41]:
df_depts_transposed_new

0  department_id       department
1              1           frozen
2              2            other
3              3           bakery
4              4          produce
5              5          alcohol
6              6    international
7              7        beverages
8              8             pets
9              9  dry goods pasta
10            10             bulk
11            11    personal care
12            12     meat seafood
13            13           pantry
14            14        breakfast
15            15     canned goods
16            16       dairy eggs
17            17        household
18            18           babies
19            19           snacks
20            20             deli
21            21          missing

In [42]:
data_dict = df_depts_transposed_new.to_dict('index')

In [43]:
data_dict

{1: {'department_id': '1', 'department': 'frozen'},
 2: {'department_id': '2', 'department': 'other'},
 3: {'department_id': '3', 'department': 'bakery'},
 4: {'department_id': '4', 'department': 'produce'},
 5: {'department_id': '5', 'department': 'alcohol'},
 6: {'department_id': '6', 'department': 'international'},
 7: {'department_id': '7', 'department': 'beverages'},
 8: {'department_id': '8', 'department': 'pets'},
 9: {'department_id': '9', 'department': 'dry goods pasta'},
 10: {'department_id': '10', 'department': 'bulk'},
 11: {'department_id': '11', 'department': 'personal care'},
 12: {'department_id': '12', 'department': 'meat seafood'},
 13: {'department_id': '13', 'department': 'pantry'},
 14: {'department_id': '14', 'department': 'breakfast'},
 15: {'department_id': '15', 'department': 'canned goods'},
 16: {'department_id': '16', 'department': 'dairy eggs'},
 17: {'department_id': '17', 'department': 'household'},
 18: {'department_id': '18', 'department': 'babies'},
 19: {'department_id': '19', 'department': 'snacks'},
 20: {'department_id': '20', 'department': 'deli'},
 21: {'department_id': '21', 'department': 'missing'}}

In [44]:
df_prods.head()

,product_id,product_name,aisle_id,department_id,prices
0,1,Chocolate Sandwich Cookies,61,19,5.8
1,2,All-Seasons Salt,104,13,9.3
2,3,Robust Golden Unsweetened Oolong Tea,94,7,4.5
3,4,Smart Ones Classic Favorites Mini Rigatoni Wit...,38,1,10.5
4,5,Green Chile Anytime Sauce,5,13,4.3

In [45]:
print(data_dict.get(19))

{'department_id': '19', 'department': 'snacks'}

In [46]:
df_prods['department_id'] == 19

0         True
1        False
2        False
3        False
4        False
         ...
49688    False
49689    False
49690    False
49691    False
49692    False
Name: department_id, Length: 49693, dtype: bool

In [47]:
df_prods[df_prods['department_id'] == 19]

,product_id,product_name,aisle_id,department_id,prices
0,1,Chocolate Sandwich Cookies,61,19,5.8
15,16,Mint Chocolate Flavored Syrup,103,19,5.2
24,25,Salted Caramel Lean Protein & Fiber Bar,3,19,1.9
31,32,Nacho Cheese White Bean Chips,107,19,4.9
40,41,Organic Sourdough Einkorn Crackers Rosemary,78,19,6.5
...,...,...,...,...,...
49666,49662,Bacon Cheddar Pretzel Pieces,107,19,3.6
49669,49665,Super Dark Coconut Ash & Banana Chocolate Bar,45,19,6.9
49670,49666,Ginger Snaps Snacking Cookies,61,19,5.2
49675,49671,Milk Chocolate Drops,45,19,3.0
49683,49679,Famous Chocolate Wafers,61,19,6.0

In [48]:
df_snacks = df_prods[df_prods['department_id'] == 19]

In [49]:
df_snacks.head()

,product_id,product_name,aisle_id,department_id,prices
0,1,Chocolate Sandwich Cookies,61,19,5.8
15,16,Mint Chocolate Flavored Syrup,103,19,5.2
24,25,Salted Caramel Lean Protein & Fiber Bar,3,19,1.9
31,32,Nacho Cheese White Bean Chips,107,19,4.9
40,41,Organic Sourdough Einkorn Crackers Rosemary,78,19,6.5

In [50]:
df_snacks_2 = df_prods.loc[df_prods['department_id'] == 19]

In [51]:
df_snacks_2.head()

,product_id,product_name,aisle_id,department_id,prices
0,1,Chocolate Sandwich Cookies,61,19,5.8
15,16,Mint Chocolate Flavored Syrup,103,19,5.2
24,25,Salted Caramel Lean Protein & Fiber Bar,3,19,1.9
31,32,Nacho Cheese White Bean Chips,107,19,4.9
40,41,Organic Sourdough Einkorn Crackers Rosemary,78,19,6.5

In [52]:
df_snacks_3 = df_prods.loc[df_prods['department_id'].isin([19])]

In [53]:
df_snacks_3.head()

,product_id,product_name,aisle_id,department_id,prices
0,1,Chocolate Sandwich Cookies,61,19,5.8
15,16,Mint Chocolate Flavored Syrup,103,19,5.2
24,25,Salted Caramel Lean Protein & Fiber Bar,3,19,1.9
31,32,Nacho Cheese White Bean Chips,107,19,4.9
40,41,Organic Sourdough Einkorn Crackers Rosemary,78,19,6.5

In [56]:
df_ords.dtypes

order_id                   object
user_id                    object
order_number                int64
orders_day_of_week          int64
order_hour_of_day           int64
days_since_prior_order    float64
dtype: object

In [57]:
df_ords['order_id'] = df_ords['order_id'].astype('string')

In [58]:
df_ords.dtypes

order_id                  string[python]
user_id                           object
order_number                       int64
orders_day_of_week                 int64
order_hour_of_day                  int64
days_since_prior_order           float64
dtype: object

In [59]:
df_ords_renamed = df_ords.rename(
    columns={'orders_day_of_week': 'order_day_of_week'}
)

In [60]:
df_ords_renamed.dtypes

order_id                  string[python]
user_id                           object
order_number                       int64
order_day_of_week                  int64
order_hour_of_day                  int64
days_since_prior_order           float64
dtype: object

In [61]:
df_ords_renamed['order_hour_of_day'].value_counts()

order_hour_of_day
10    288418
11    284728
15    283639
14    283042
13    277999
12    272841
16    272553
9     257812
17    228795
18    182912
8     178201
19    140569
20    104292
7      91868
21     78109
22     61468
23     40043
6      30529
0      22758
1      12398
5       9569
2       7539
4       5527
3       5474
Name: count, dtype: int64

In [62]:
data_dict.get(4)

{'department_id': '4', 'department': 'produce'}

In [63]:
df_breakfast = df_prods[df_prods['department_id'] == 14]

In [64]:
df_breakfast.head()
df_breakfast.shape

(1116, 5)

In [65]:
df_dinner = df_prods.loc[
    df_prods['department_id'].isin([5, 7, 12, 20])
]

In [66]:
df_dinner.head()
df_dinner.shape

(7650, 5)

In [67]:
df_dinner.shape[0]

7650

In [68]:
df_user_1 = df_ords[df_ords['user_id'] == '1']

In [69]:
df_user_1.head()
df_user_1.shape

(11, 6)

In [70]:
df_user_1.describe()

,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order
count,11.000000,11.000000,11.000000,10.000000
mean,6.000000,2.636364,10.090909,19.000000
std,3.316625,1.286291,3.477198,9.030811
min,1.000000,1.000000,7.000000,0.000000
25%,3.500000,1.500000,7.500000,14.250000
50%,6.000000,3.000000,8.000000,19.500000
75%,8.500000,4.000000,13.000000,26.250000
max,11.000000,4.000000,16.000000,30.000000

In [71]:
df_user_1['order_hour_of_day'].value_counts()

order_hour_of_day
8     3
7     3
12    1
15    1
9     1
14    1
16    1
Name: count, dtype: int64

In [72]:
# Step 12: Export cleaned orders dataframe
prepared_path = r"C:\Users\sheid\OneDrive\Documents\Instacart Basket Analysis 01-05-2026\02 Data\Prepared Data"

df_ords.to_csv(
    os.path.join(prepared_path, "orders_wrangled.csv"),
    index=False
)

In [73]:
# Step 13: Export cleaned departments dataframe

df_depts_transposed_new.to_csv(
    os.path.join(prepared_path, "departments_wrangled.csv"),
    index=False
)