# Exercise 4.6: Combining & Exporting Data  
Instacart Basket Analysis

## 0) Setup: Project paths (F: drive)

In [2]:
# 0) Setup: Project paths (F: drive)

from pathlib import Path

# Project root folder (the folder that contains: 01 Project Management, 02 Data, 03 Scripts, etc.)
PROJECT_ROOT = Path(r"F:\Data Analytics\Projects\Instacart_Basket_Analysis\Instacart Basket Analysis 01-05-2026")

# Common subfolders (adjust later only if your folder names differ)
DATA_ROOT = PROJECT_ROOT / "02 Data"
ORIGINAL_DATA = DATA_ROOT / "Original Data"
PREPARED_DATA = DATA_ROOT / "Prepared Data"

print("PROJECT_ROOT:", PROJECT_ROOT)
print("ORIGINAL_DATA exists:", ORIGINAL_DATA.exists())
print("PREPARED_DATA exists:", PREPARED_DATA.exists())

PROJECT_ROOT: F:\Data Analytics\Projects\Instacart_Basket_Analysis\Instacart Basket Analysis 01-05-2026
ORIGINAL_DATA exists: True
PREPARED_DATA exists: True

## Import Libraries and Data

In [4]:
import pandas as pd
import numpy as np
import os

In [5]:
PROJECT_ROOT = r"F:\Data Analytics\Projects\Instacart_Basket_Analysis\Instacart Basket Analysis 01-05-2026"

In [6]:
# Import cleaned orders dataset (from Prepared Data)
df_ords = pd.read_csv(
    os.path.join(
        PROJECT_ROOT,
        "02 Data",
        "Prepared Data",
        "orders_checked.csv"
    )
)

In [7]:
df_ords.shape
df_ords.head()

,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order
0,2539329,1,1,2,8,0.0
1,2398795,1,2,3,7,15.0
2,473747,1,3,3,12,21.0
3,2254736,1,4,4,7,29.0
4,431534,1,5,4,15,28.0

In [9]:
# 4.6 - Import combined prior orders/products dataset (from Original Data)
df_ords_prior = pd.read_csv(
    ORIGINAL_DATA / "4.6_orders_products_prior" / "orders_products_prior.csv"
)

df_ords_prior.shape
df_ords_prior.head()

   order_id  product_id  add_to_cart_order  reordered
0         2       33120                  1          1
1         2       28985                  2          1
2         2        9327                  3          0
3         2       45918                  4          1
4         2       30035                  5          0

In [10]:
df_ords_prior.shape

(32434489, 4)

In [11]:
df_ords.shape

(3421083, 6)

In [12]:
df_ords_products = pd.merge(
    df_ords,
    df_ords_prior,
    on='order_id',
    how='left'
)

In [13]:
df_ords_products.shape
df_ords_products.head()

,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered
0,2539329,1,1,2,8,0.0,196.0,1.0,0.0
1,2539329,1,1,2,8,0.0,14084.0,2.0,0.0
2,2539329,1,1,2,8,0.0,12427.0,3.0,0.0
3,2539329,1,1,2,8,0.0,26088.0,4.0,0.0
4,2539329,1,1,2,8,0.0,26405.0,5.0,0.0

In [14]:
df_ords_products['order_id'].isna().sum()
df_ords_products['product_id'].isna().sum()

np.int64(206209)

In [15]:
df_ords_products.to_pickle(
    os.path.join(
        PROJECT_ROOT,
        "02 Data",
        "Prepared Data",
        "orders_products_combined.pkl"
    )
)

In [16]:
# 4.6 - Validate exported combined dataset (from Prepared Data)

df_test = pd.read_pickle(
    PREPARED_DATA / "orders_products_combined.pkl"
)

df_test.shape

(32640698, 9)

In [17]:
df_ords_products[df_ords_products['product_id'].isna()].shape

(206209, 9)

In [18]:
# 4.6 - Export combined orders/products dataset (to Prepared Data)

df_ords_products.to_pickle(
    PREPARED_DATA / "orders_products_combined.pkl"
)

In [19]:
# 4.6 - Final validation check (Prepared Data, F: drive)

df_check = pd.read_pickle(
    PREPARED_DATA / "orders_products_combined.pkl"
)

df_check.shape

(32640698, 9)