# Exercise 4.8 – Grouping Data & Aggregating Variables (Lesson Practice)

In [1]:
import pandas as pd
import numpy as np
import os

In [2]:
import os

# Path to your project Prepared Data folder
prepared_data_path = r"F:\Data Analytics\Projects\Instacart_Basket_Analysis\Instacart Basket Analysis 01-05-2026\02 Data\Prepared Data"

# Load the pickle you have been using as the main merged dataset
ords_prods_merge = pd.read_pickle(os.path.join(prepared_data_path, "ords_prods_merge.pkl"))

In [3]:
ords_prods_merge.shape
ords_prods_merge.head()

,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,product_name,aisle_id,department_id,prices,_merge
0,2539329,1,1,2,8,0.0,196.0,1.0,0.0,Soda,77.0,7.0,9.0,both
1,2539329,1,1,2,8,0.0,14084.0,2.0,0.0,Organic Unsweetened Vanilla Almond Milk,91.0,16.0,12.5,both
2,2539329,1,1,2,8,0.0,12427.0,3.0,0.0,Original Beef Jerky,23.0,19.0,4.4,both
3,2539329,1,1,2,8,0.0,26088.0,4.0,0.0,Aged White Cheddar Popcorn,23.0,19.0,4.7,both
4,2539329,1,1,2,8,0.0,26405.0,5.0,0.0,XL Pick-A-Size Paper Towel Rolls,54.0,17.0,1.0,both

In [4]:
df = ords_prods_merge[:1000000]

In [5]:
# ---------------------------------------------------
# Grouping data by product_name (Step 1: Split)
# ---------------------------------------------------

df.groupby('product_name')

In [6]:
# ---------------------------------------------------
# Aggregating data: mean order_number per department
# (Step 2: Apply aggregation)
# ---------------------------------------------------

df.groupby('department_id').agg({
    'order_number': ['mean']
})

              order_number
                      mean
department_id
1.0              14.794925
2.0              17.085793
3.0              17.892742
4.0              17.880137
5.0              15.108513
6.0              15.352869
7.0              17.682741
8.0              16.496386
9.0              15.944846
10.0             20.104831
11.0             16.483104
12.0             15.614125
13.0             16.458631
14.0             17.523399
15.0             15.673392
16.0             18.012021
17.0             15.842139
18.0             19.349156
19.0             17.625805
20.0             17.113240
21.0             22.009038

In [7]:
# ---------------------------------------------------
# Aggregating using mean() instead of agg()
# (Same result, different syntax)
# ---------------------------------------------------

df.groupby('department_id')['order_number'].mean()

department_id
1.0     14.794925
2.0     17.085793
3.0     17.892742
4.0     17.880137
5.0     15.108513
6.0     15.352869
7.0     17.682741
8.0     16.496386
9.0     15.944846
10.0    20.104831
11.0    16.483104
12.0    15.614125
13.0    16.458631
14.0    17.523399
15.0    15.673392
16.0    18.012021
17.0    15.842139
18.0    19.349156
19.0    17.625805
20.0    17.113240
21.0    22.009038
Name: order_number, dtype: float64

In [8]:
# ---------------------------------------------------
# Aggregating multiple statistics using agg()
# Mean, minimum, and maximum order_number per department
# ---------------------------------------------------

df.groupby('department_id').agg({
    'order_number': ['mean', 'min', 'max']
})

              order_number
                      mean min max
department_id
1.0              14.794925   1  99
2.0              17.085793   1  98
3.0              17.892742   1  99
4.0              17.880137   1  99
5.0              15.108513   1  99
6.0              15.352869   1  99
7.0              17.682741   1  99
8.0              16.496386   1  91
9.0              15.944846   1  99
10.0             20.104831   1  99
11.0             16.483104   1  99
12.0             15.614125   1  99
13.0             16.458631   1  99
14.0             17.523399   1  99
15.0             15.673392   1  99
16.0             18.012021   1  99
17.0             15.842139   1  99
18.0             19.349156   1  99
19.0             17.625805   1  99
20.0             17.113240   1  99
21.0             22.009038   1  97

In [9]:
# --------------------------------------------------
# Creating max_order column using transform()
# (Step 1: Split → Step 2: Aggregate → Step 3: Recombine)
# --------------------------------------------------

df['max_order'] = df.groupby('user_id')['order_number'].transform(np.max)

C:\Users\sheid\AppData\Local\Temp\ipykernel_25700\220145962.py:6: FutureWarning: The provided callable <function max at 0x000001C6429442C0> is currently using SeriesGroupBy.max. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "max" instead.
  df['max_order'] = df.groupby('user_id')['order_number'].transform(np.max)
C:\Users\sheid\AppData\Local\Temp\ipykernel_25700\220145962.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['max_order'] = df.groupby('user_id')['order_number'].transform(np.max)

In [10]:
# --------------------------------------------------
# Validate max_order column
# --------------------------------------------------

df[['user_id', 'order_number', 'max_order']].head(20)

    user_id  order_number  max_order
0         1             1         11
1         1             1         11
2         1             1         11
3         1             1         11
4         1             1         11
5         1             2         11
6         1             2         11
7         1             2         11
8         1             2         11
9         1             2         11
10        1             2         11
11        1             3         11
12        1             3         11
13        1             3         11
14        1             3         11
15        1             3         11
16        1             4         11
17        1             4         11
18        1             4         11
19        1             4         11

# --------------------------------------------------
# Creating loyalty_flag column using max_order
# (Derived from grouped & aggregated order_number)
# --------------------------------------------------

In [11]:
# Label Loyal customers (more than 40 orders)
df.loc[df['max_order'] > 40, 'loyalty_flag'] = 'Loyal customer'

# Label Regular customers (more than 10 and up to 40 orders)
df.loc[
    (df['max_order'] <= 40) & (df['max_order'] > 10),
    'loyalty_flag'
] = 'Regular customer'

# Label New customers (10 orders or fewer)
df.loc[df['max_order'] <= 10, 'loyalty_flag'] = 'New customer'

C:\Users\sheid\AppData\Local\Temp\ipykernel_25700\311541964.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.loc[df['max_order'] > 40, 'loyalty_flag'] = 'Loyal customer'

In [12]:
df['loyalty_flag'].value_counts()

loyalty_flag
Regular customer    495117
Loyal customer      330572
New customer        174311
Name: count, dtype: int64

## Exercise 4.8 – Task  
### Step 1: Import libraries & load merged dataset

In [13]:
# --------------------------------------------------
# Step 1: Import required libraries
# --------------------------------------------------

import pandas as pd
import numpy as np
import os

In [14]:
# --------------------------------------------------
# Step 1: Define path to Prepared Data folder
# --------------------------------------------------

prepared_data_path = r"F:\Data Analytics\Projects\Instacart_Basket_Analysis\Instacart Basket Analysis 01-05-2026\02 Data\Prepared Data"

In [15]:
# --------------------------------------------------
# Step 1: Load merged dataset from previous Exercise
# --------------------------------------------------

ords_prods_merge = pd.read_pickle(
    os.path.join(prepared_data_path, "ords_prods_merge.pkl")
)

In [16]:
# --------------------------------------------------
# Step 1: Initial data checks
# --------------------------------------------------

ords_prods_merge.shape

(32641268, 14)

In [17]:
ords_prods_merge.head()

,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,product_name,aisle_id,department_id,prices,_merge
0,2539329,1,1,2,8,0.0,196.0,1.0,0.0,Soda,77.0,7.0,9.0,both
1,2539329,1,1,2,8,0.0,14084.0,2.0,0.0,Organic Unsweetened Vanilla Almond Milk,91.0,16.0,12.5,both
2,2539329,1,1,2,8,0.0,12427.0,3.0,0.0,Original Beef Jerky,23.0,19.0,4.4,both
3,2539329,1,1,2,8,0.0,26088.0,4.0,0.0,Aged White Cheddar Popcorn,23.0,19.0,4.7,both
4,2539329,1,1,2,8,0.0,26405.0,5.0,0.0,XL Pick-A-Size Paper Towel Rolls,54.0,17.0,1.0,both

### Step 2: Mean order number by department (entire dataset)

In [18]:
# --------------------------------------------------
# Step 2: Aggregate mean of order_number by department_id
# (Using entire dataset, not a subset)
# --------------------------------------------------

dept_order_mean = ords_prods_merge.groupby('department_id').agg({
    'order_number': ['mean']
})

dept_order_mean

              order_number
                      mean
department_id
1.0              15.457838
2.0              17.277920
3.0              17.170395
4.0              17.811403
5.0              15.215751
6.0              16.439806
7.0              17.225802
8.0              15.340650
9.0              15.895474
10.0             20.197148
11.0             16.170638
12.0             15.887671
13.0             16.583536
14.0             16.773669
15.0             16.165037
16.0             17.665606
17.0             15.694469
18.0             19.310397
19.0             17.177343
20.0             16.473447
21.0             22.902379

### Step 3: Comparison of full dataset vs subset results

When comparing the mean order numbers by department calculated on the full dataset to those calculated earlier on the 1,000,000-row subset, the overall patterns remain consistent across departments. Departments with higher average order numbers in the subset analysis also show higher averages in the full dataset.

However, small differences in the mean values are observed. These differences are expected because the subset represents only a sample of the total data, while the full dataset includes all available orders and customers. Using the full dataset reduces sampling bias and provides more stable and representative averages.

Overall, the full dataset results confirm the trends observed in the subset while offering a more accurate reflection of customer ordering behavior across Instacart departments.

In [19]:
# ------------------------------------------------------------
# Step 4A: Create max_order column using transform()
# (Maximum order number per user)
# ------------------------------------------------------------

ords_prods_merge['max_order'] = (
    ords_prods_merge
    .groupby('user_id')['order_number']
    .transform('max')
)

In [20]:
# ------------------------------------------------------------
# Step 4B: Validate max_order column
# ------------------------------------------------------------

ords_prods_merge[['user_id', 'order_number', 'max_order']].head(20)

    user_id  order_number  max_order
0         1             1         11
1         1             1         11
2         1             1         11
3         1             1         11
4         1             1         11
5         1             2         11
6         1             2         11
7         1             2         11
8         1             2         11
9         1             2         11
10        1             2         11
11        1             3         11
12        1             3         11
13        1             3         11
14        1             3         11
15        1             3         11
16        1             4         11
17        1             4         11
18        1             4         11
19        1             4         11

In [21]:
# ------------------------------------------------------------
# Step 4C: Create loyalty_flag based on max_order
# ------------------------------------------------------------

# Initialize column
ords_prods_merge['loyalty_flag'] = 'Not classified'

# Loyal customers (> 40 orders)
ords_prods_merge.loc[
    ords_prods_merge['max_order'] > 40,
    'loyalty_flag'
] = 'Loyal customer'

# Regular customers (11–40 orders)
ords_prods_merge.loc[
    (ords_prods_merge['max_order'] > 10) & (ords_prods_merge['max_order'] <= 40),
    'loyalty_flag'
] = 'Regular customer'

# New customers (10 orders or fewer)
ords_prods_merge.loc[
    ords_prods_merge['max_order'] <= 10,
    'loyalty_flag'
] = 'New customer'

In [22]:
# ------------------------------------------------------------
# Step 4D: Check loyalty flag distribution
# ------------------------------------------------------------

ords_prods_merge['loyalty_flag'].value_counts()

loyalty_flag
Regular customer    16381472
Loyal customer      10679578
New customer         5580218
Name: count, dtype: int64

In [23]:
# ------------------------------------------------
# Step 5A: Analyze product prices by loyalty group
# ------------------------------------------------

price_by_loyalty = ords_prods_merge.groupby('loyalty_flag').agg({
    'prices': ['mean', 'min', 'max']
})

price_by_loyalty

                     prices
                       mean  min      max
loyalty_flag
Loyal customer    10.377144  1.0  99999.0
New customer      13.208437  1.0  99999.0
Regular customer  12.616225  1.0  99999.0

### Step 5 – Price Differences by Loyalty Group

The average product price differs across loyalty segments. New customers have the highest mean product price, followed by regular customers, while loyal customers have the lowest average price. This suggests that newer users tend to purchase more expensive items, whereas loyal customers may focus on frequently purchased or lower-priced staple products. These findings indicate that spending behavior varies by customer loyalty level.

In [24]:
# --------------------------------------------------
# Step 6A: Calculate mean product price per user
# (Average price across all orders for each user)
# --------------------------------------------------

ords_prods_merge['mean_price'] = (
    ords_prods_merge
    .groupby('user_id')['prices']
    .transform('mean')
)

In [25]:
# --------------------------------------------------
# Step 6B: Validate mean_price column
# --------------------------------------------------

ords_prods_merge[['user_id', 'prices', 'mean_price']].head(20)

    user_id  prices  mean_price
0         1     9.0    6.367797
1         1    12.5    6.367797
2         1     4.4    6.367797
3         1     4.7    6.367797
4         1     1.0    6.367797
5         1     9.0    6.367797
6         1     3.0    6.367797
7         1     4.4    6.367797
8         1    10.3    6.367797
9         1     4.7    6.367797
10        1     4.0    6.367797
11        1     9.0    6.367797
12        1     4.4    6.367797
13        1     3.0    6.367797
14        1     8.6    6.367797
15        1     3.2    6.367797
16        1     9.0    6.367797
17        1     4.4    6.367797
18        1     3.0    6.367797
19        1     8.6    6.367797

In [26]:
# --------------------------------------------------
# Step 6C: Create spending_flag based on mean_price
# --------------------------------------------------

# Initialize column
ords_prods_merge['spending_flag'] = 'Not classified'

# Low spenders (mean price < 10)
ords_prods_merge.loc[
    ords_prods_merge['mean_price'] < 10,
    'spending_flag'
] = 'Low spender'

# High spenders (mean price >= 10)
ords_prods_merge.loc[
    ords_prods_merge['mean_price'] >= 10,
    'spending_flag'
] = 'High spender'

In [27]:
# --------------------------------------------------
# Step 6D: Check spending_flag distribution
# --------------------------------------------------

ords_prods_merge['spending_flag'].value_counts()

spending_flag
Low spender     32001233
High spender      640035
Name: count, dtype: int64

In [28]:
# --------------------------------------------------
# Step 7A: Calculate median days_since_prior_order per user
# --------------------------------------------------

ords_prods_merge['median_days_between_orders'] = (
    ords_prods_merge
    .groupby('user_id')['days_since_prior_order']
    .transform('median')
)

In [29]:
# --------------------------------------------------
# Step 7B: Validate median_days_between_orders column
# --------------------------------------------------

ords_prods_merge[['user_id', 'days_since_prior_order', 'median_days_between_orders']].head(20)

    user_id  days_since_prior_order  median_days_between_orders
0         1                     0.0                        20.0
1         1                     0.0                        20.0
2         1                     0.0                        20.0
3         1                     0.0                        20.0
4         1                     0.0                        20.0
5         1                    15.0                        20.0
6         1                    15.0                        20.0
7         1                    15.0                        20.0
8         1                    15.0                        20.0
9         1                    15.0                        20.0
10        1                    15.0                        20.0
11        1                    21.0                        20.0
12        1                    21.0                        20.0
13        1                    21.0                        20.0
14        1                    21.0                        20.0
15        1                    21.0                        20.0
16        1                    29.0                        20.0
17        1                    29.0                        20.0
18        1                    29.0                        20.0
19        1                    29.0                        20.0

In [30]:
# ------------------------------------------------
# Step 7C: Create order_frequency_flag
# (Based on median_days_between_orders)
# ------------------------------------------------

# Initialize column
ords_prods_merge['order_frequency_flag'] = 'Not classified'

# Non-frequent customers (median > 20 days)
ords_prods_merge.loc[
    ords_prods_merge['median_days_between_orders'] > 20,
    'order_frequency_flag'
] = 'Non-frequent customer'

# Regular customers (median > 10 and <= 20 days)
ords_prods_merge.loc[
    (ords_prods_merge['median_days_between_orders'] > 10) &
    (ords_prods_merge['median_days_between_orders'] <= 20),
    'order_frequency_flag'
] = 'Regular customer'

# Frequent customers (median <= 10 days)
ords_prods_merge.loc[
    ords_prods_merge['median_days_between_orders'] <= 10,
    'order_frequency_flag'
] = 'Frequent customer'

In [31]:
# ------------------------------------------------
# Step 7D: Check order frequency distribution
# ------------------------------------------------

ords_prods_merge['order_frequency_flag'].value_counts()

order_frequency_flag
Frequent customer        22877440
Regular customer          7011216
Non-frequent customer     2752612
Name: count, dtype: int64

In [32]:
# --------------------------------------------------
# Step 9: Export final dataframe as pickle file
# --------------------------------------------------

import os

# Define export path (Prepared Data folder)
export_path = r"F:\Data Analytics\Projects\Instacart_Basket_Analysis\Instacart Basket Analysis 01-05-2026\02 Data\Prepared Data"

# Define file name
file_name = "instacart_prepared_exercise_4_8.pkl"

# Ensure folder exists
os.makedirs(export_path, exist_ok=True)

# Export dataframe
ords_prods_merge.to_pickle(os.path.join(export_path, file_name))

# Confirm export
os.listdir(export_path)

['departments_wrangled.csv',
 'orders_checked.csv',
 'orders_products_combined.pkl',
 'orders_wrangled.csv',
 'ords_prods_merge.pkl',
 'products_checked.csv',
 'instacart_prepared_exercise_4_7.pkl',
 'instacart_prepared_exercise_4_8.pkl']